<ion-view title="Current Game">
  <ion-content class="has-header padding">
    <h1>Player 1</h1>
    <p>Say:</p>

    <p class="current-game-quote"> "fuck you fucking fuckers" </p>

		<p>Like you are: </p>
		<p class="current-game-voice"> Ahnold!</p>


		<ul>
			<li> <a href="#" class="current-game-sample-1">Sample 1</a> </li>
			<li> <a href="#" class="current-game-sample-2">Sample 2</a> </li>
			<li> <a href="#" class="current-game-sample-3">Sample 3</a> </li>
		</ul>



			<a class="button button-balanced">Go! </a>

			<!--
			hidden buttons for the result go here
			-->



  </ion-content>
</ion-view>
